body{
    background: url("quatsch.png");
    background-position: center;
    background-repeat: repeat-x;
    background-color: black;

}



#back1{
    height: 300px;
    width: 500px;
    border: solid 1px black;
    background: url("Skull.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 0;
    margin: 300px 600px;
}