table{
    margin: auto;
    border-collapse: collapse;
}


td{

    border: solid 2px black;
    padding: 50px;
    background-color: red;
}
tr:nth-child(odd) td:nth-child(odd){background: white}
tr:nth-child(even) td:nth-child(even){background: white}

