*{
    padding: 0px;
    margin: 0px;
}

body{

}

header{
    background: lightyellow;
}

header h2{
    text-align: center;
}

#main{
    display: flex;
    flex-flow: row;
}
nav{
    flex: 1;
    order: 0;
    margin: 5px;
    min-width: 150px;
    border-right: solid lightyellow 5px;
}
nav h3{
    text-align: center;
}

p{

}

form{

}


nav p{
    margin: auto;
}

ul{
    margin: 30px;
}

section{
    order: 1;
    flex: 8;
    margin: 5px;

}

footer{
    clear: both;
    background: lightyellow;
    text-align: center;
}